<h2 mat-dialog-title>
  {{ isEdit ? 'Edit event' : 'Create event' }}
</h2>

<mat-dialog-content [formGroup]="form" class="dialog-content">

  <mat-form-field appearance="outline" class="w100">
    <mat-label>Titre</mat-label>
    <input matInput formControlName="titre" placeholder="Event Titre">
    <mat-error *ngIf="form.get('titre')?.invalid">Title is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w100">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


  <mat-form-field appearance="outline" class="w100">
    <mat-label>Location</mat-label>
    <input matInput formControlName="lieu" placeholder="Sfax, ENIS, ...">
    <mat-error *ngIf="form.get('lieu')?.invalid">Location is required</mat-error>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="close()">Cancel</button>

  <button mat-raised-button color="primary"
          (click)="save()"
          [disabled]="form.invalid">
    {{ isEdit ? 'Update' : 'Create' }}
  </button>
</mat-dialog-actions>
